# Copyright (c) 2018 Sony Mobile Communications Inc.
#
# product common configuration
#
on early-init && property:ro.vendor.nfc.spi.ko=*
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        ${ro.vendor.nfc.spi.ko}

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ p73

on early-init && property:ro.vendor.nfc.ko=*
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        ${ro.vendor.nfc.ko}
on boot
    # NFC local data and storage
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
    mkdir /data/vendor/secure_element 0770  secure_element secure_element
